body{margin-top:56px}
main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(./images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}